.History{
    width: 17.5vw;
    margin: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.History li {
      background-color: orange;
      color: white;
      width: 17vw;
      font-size: 13.5px;
      margin: 5px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid lightgray;
      text-overflow: clip;
}

  
  